<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 01 - Data visualization with Python @ FIT-HCMUS, VNU-HCM üìå
</div>

<div style="text-align: center; background-color: #b1d1ff; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 02 - Data exploration üìå
</div>

# Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Kh√°m ph√° d·ªØ li·ªáu

### ƒê·ªçc d·ªØ li·ªáu t·ª´ file

In [2]:
raw_df = None
raw_df = pd.read_csv('../data/raw/used_cars_data.csv')

In [3]:
raw_df

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

### X√≥a c·ªôt th·ª© t·ª± kh√¥ng c·∫ßn thi·∫øt

In [4]:
raw_df = raw_df.drop('S.No.', axis=1)

### T·∫°o th√™m m·ªôt c·ªôt Company name

In [5]:
raw_df['Company name'] = raw_df['Name'].apply(lambda x: ' '.join(x.split()[:2]) if x.split()[0] in ['Mini', 'Land'] else x.split()[0])

### D·ªØ li·ªáu c√≥ bao nhi√™u c·ªôt v√† bao nhi√™u d√≤ng?

In [6]:
shape = raw_df.shape
shape

(7253, 14)

### √ù nghƒ©a c·ªßa m·ªói d√≤ng l√† g√¨?

M·ªói d√≤ng ch·ª©a c√°c th√¥ng tin c·ªßa m·ªói chi·∫øc xe ƒë√£ qua s·ª≠ d·ª•ng v√† ƒë∆∞·ª£c ƒëƒÉng b√°n l·∫°i nh∆∞ t√™n xe, ƒë·ªãa ƒëi·ªÉm, nƒÉm ƒëƒÉng k√Ω b√°n l·∫°i, c√°c thu·ªôc t√≠nh c·ªßa xe, gi√° b√°n ch·ªß y·∫øu l√† c√°c th√†nh ph·ªë c·ªßa ·∫§n ƒê·ªô.

### D·ªØ li·ªáu c√≥ d√≤ng n√†o b·ªã tr√πng l·∫∑p kh√¥ng?

In [7]:
num_duplicated_rows = None
num_duplicated_rows = raw_df.duplicated().sum()
#TEST
if num_duplicated_rows == 0:
    print(f"D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng n√†o tr√πng l·∫∑p!")
else:
    print(f"D·ªØ li·ªáu c√≥ {num_duplicated_rows} d√≤ng b·ªã tr√πng l·∫∑p "+ ". Vui l√≤ng x√≥a c√°c d√≤ng ƒë√≥!")

D·ªØ li·ªáu c√≥ 1 d√≤ng b·ªã tr√πng l·∫∑p . Vui l√≤ng x√≥a c√°c d√≤ng ƒë√≥!

#### X√≥a c√°c d√≤ng b·ªã tr√πng l·∫Øp d·ªØ li·ªáu

In [8]:

raw_df = raw_df.drop_duplicates()

#### Ki·ªÉm tra l·∫°i

In [9]:
#TEST
num_duplicated_rows = raw_df.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng n√†o tr√πng l·∫∑p!")
else:
    print(f"D·ªØ li·ªáu c√≥ {num_duplicated_rows} d√≤ng b·ªã tr√πng l·∫∑p "+ ". Vui l√≤ng x√≥a c√°c d√≤ng ƒë√≥!")

D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng n√†o tr√πng l·∫∑p!

### √ù nghƒ©a c·ªßa m·ªói c·ªôt l√† g√¨?

- Name: T√™n c·ªßa √¥ t√¥.
- Location: N∆°i ƒëƒÉng k√Ω b√°n l·∫°i c·ªßa √¥ t√¥ ƒë√≥.
- Year: NƒÉm ƒëƒÉng k√Ω b√°n l·∫°i √¥ t√¥ ƒë√≥.
- Kilometers_Driven: qu√£ng ƒë∆∞·ªùng(s·ªë km) m√† xe ƒë√£ ƒëi.
- Fuel_Type: Lo·∫°i nhi√™n li·ªáu xe s·ª≠ d·ª•ng.
- Transmission: Lo·∫°i h·ªôp s·ªë c·ªßa xe.
- Owner_Type: Ng∆∞·ªùi d√πng ƒë·ªùi th·ª© m·∫•y c·ªßa xe.
- Mileage: Qu√£ng ƒë∆∞·ªùng m√† xe ƒëi ƒë∆∞·ª£c trong m·ªôt ƒë∆°n v·ªã nhi√™n li·ªáu nh∆∞ kmpl(kilometers per liter) ho·∫∑c km/kg.
- Engine: Dung t√≠ch xi-lanh c·ªßa ƒë·ªông c∆° xe s·ª≠ d·ª•ng ƒë∆°n v·ªã l√† cc.
- Power: C√¥ng xu·∫•t t·ªëi ƒëa c·ªßa xe s·ª≠ d·ª•ng ƒë∆°n v·ªã l√† bhp (brake horsepower - ƒë∆°n v·ªã ƒëo l∆∞·ªùng ƒë·ªÉ m√¥ t·∫£ l∆∞·ª£ng ƒëi·ªán nƒÉng m√† ƒë·ªông c∆° √¥ t√¥ ho·∫∑c ƒë·ªông c∆° ƒëi·ªán t·∫°o ra ƒë·ªÉ di chuy·ªÉn n√≥).
- Seats: S·ªë ch·ªó ng·ªìi c·ªßa xe.
- New_Price: Gi√° b√°n m·ªõi c·∫≠p nh·∫≠t c·ªßa xe ƒë∆∞·ª£c s·ª≠ d·ª•ng ƒë∆°n v·ªã Lakh (l√† m·ªôt lo·∫°i ng√¥n ng·ªØ ch·ªâ s·ªë l∆∞·ª£ng l·ªõn trong ng√¥n ng·ªØ ·∫§n ƒê·ªô, 1 Lakh = 100000).
- Price: Gi√° b√°n ban ƒë·∫ßu c·ªßa xe ƒë∆∞·ª£c s·ª≠ d·ª•ng ƒë∆°n v·ªã Lakh.

### M·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu kh√¥ng ph√π h·ª£p cho vi·ªác x·ª≠ l√≠ d·ªØ li·ªáu kh√¥ng?

In [10]:

raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7252 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7252 non-null   object
 1   Location           7252 non-null   object
 2   Year               7252 non-null   int64
 3   Kilometers_Driven  7252 non-null   int64
 4   Fuel_Type          7252 non-null   object
 5   Transmission       7252 non-null   object
 6   Owner_Type         7252 non-null   object
 7   Mileage            7250 non-null   object
 8   Engine             7206 non-null   object
 9   Power              7206 non-null   object
 10  Seats              7199 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
 13  Company name       7252 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 849.8+ KB

- ·ªû c·ªôt Engine, Power v√† New_Price ch·ªß y·∫øu l√† ki·ªÉu float nh∆∞ng do c√≥ th√™m k√≠ t·ª± ƒë∆°n v·ªã ph√≠a sau n√™n ƒëang b·ªã thu·ªôc v·ªÅ lo·∫°i categorical.
- C·ªôt Year n√™n thu·ªôc lo·∫°i categorical.

In [11]:
raw_df['Year'] = raw_df['Year'].astype('string')

### X·ª≠ l√Ω datatype cho 3 c·ªôt Engine, Power v√† New_Price

In [12]:
raw_df['Engine'] = raw_df['Engine'].str.replace(' CC', '')
raw_df['Power'] = raw_df['Power'].str.replace(' bhp', '')
raw_df['New_Price'] = raw_df['New_Price'].str.replace(' Lakh', '')

In [13]:
# Mileage = ?
raw_df['Engine'] = pd.to_numeric(raw_df['Engine'], errors='coerce')
raw_df['Power'] = pd.to_numeric(raw_df['Power'], errors='coerce')
raw_df['New_Price'] = pd.to_numeric(raw_df['New_Price'], errors='coerce')

### X·ª≠ l√Ω c·ªôt Mileage
V√¨ ·ªü c·ªôt n√†y c√≥ lo·∫°i ƒë∆°n v·ªã kh√°c nhau, n√™n ch√∫ng ta s·∫Ω chuy·ªÉn ƒë·ªïi ƒë∆°n v·ªã km/kg sang kmpl

In [14]:
Correct_Mileage= []
for i in raw_df.Mileage:
    if str(i).endswith('km/kg'):
        i = i[:-6]
        i = float(i)*1.40
        Correct_Mileage.append(float(i))
    elif str(i).endswith('kmpl'):
        i = i[:-6]
        #print(i)
        Correct_Mileage.append(float(i))
    else:
        Correct_Mileage.append(float(i))
raw_df['Mileage']=Correct_Mileage
raw_df['Mileage'] = pd.to_numeric(raw_df['Mileage'], errors='coerce')

### Gi√° tr·ªã c·ªßa c√°c c·ªôt c√≥ ki·ªÉu numeric ph√¢n b·ªë nh∆∞ th·∫ø n√†o?
- Ph·∫ßn trƒÉm c√°c gi√° tr·ªã b·ªã thi·∫øu l√† bao nhi√™u?
- Gi√° tr·ªã l·ªõn nh·∫•t? Gi√° tr·ªã nh·ªè nh·∫•t? C√≥ g√¨ b·∫•t th∆∞·ªùng kh√¥ng?

ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu numeric, ch√∫ng ta s·∫Ω t√≠nh:
- Ph·∫ßn trƒÉm (t·ª´ 0 t·ªõi 100) c·ªßa gi√° tr·ªã b·ªã thi·∫øu
- Gi√° tr·ªã nh·ªè nh·∫•t
- T·ª© ph√¢n v·ªã 25
- T·ª© ph√¢n v·ªã 50
- T·ª© ph√¢n v·ªã 75
- Gi√° tr·ªã l·ªõn nh·∫•t

L∆∞u k·∫øt qu·∫£ v√†o DataFrame `num_col_info_df`, trong ƒë√≥:
- T√™n c·ªßa c√°c c·ªôt l√† t√™n c·ªßa c√°c c·ªôt c√≥ ki·ªÉu numeric trong `df`
- T√™n c·ªßa c√°c d√≤ng: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"

In [15]:
num_col_info_df = None

num_col_info_df = raw_df.select_dtypes(include=np.number).copy()

def missing_ratio(column):
    return ((column.isnull().sum() / column.shape[0]) * 100).round(1)

def lower_quartile(column):
    return (column.quantile(0.25)).round(1)

def median(column):
    return (column.median())

def upper_quartile(column):
    return (column.quantile(0.75)).round(1)

# L√†m tr√≤n gi√° tr·ªã ƒë·∫øn 1 ch·ªØ s·ªë th·∫≠p ph√¢n
num_col_info_df = num_col_info_df.round(1)

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

In [16]:
num_col_info_df

,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Price
missing_ratio,0.0,0.0,0.6,2.4,0.7,86.4,17.0
min,171.0,0.0,72.0,34.2,0.0,3.9,0.4
lower_quartile,34000.0,15.0,1198.0,75.0,5.0,7.9,3.5
median,53429.0,18.0,1493.0,94.0,5.0,11.5,5.6
upper_quartile,73000.0,21.0,1968.0,138.1,5.0,24.0,10.0
max,6500000.0,47.0,5998.0,616.0,10.0,99.9,160.0

#### C√≥ ƒëi·ªÅu b·∫•t th∆∞·ªùng l√†: 
- New_Price c√≥ t·ªâ l·ªá m·∫•t m√°t r·∫•t cao l√™n ƒë·∫øn 86.4%
- Gi√° tr·ªã max c·ªßa Kilometers_Driven l√† nhi·ªÖu.

=> V·∫≠y ch√∫ng ta x·ª≠ l√Ω b·∫±ng c√°ch x√≥a ho√†n to√†n c·ªôt New_Price.

### X√≥a gi√° tr·ªã max ƒëang l√† nhi·ªÖu

In [17]:
raw_df = raw_df[raw_df['Kilometers_Driven'] != 6500000]

#### X√≥a c·ªôt c√≥ t·ªâ l·ªá gi√° tr·ªã b·ªã thi·∫øu l·ªõn h∆°n 75%

In [18]:
def drop_missing_features(df: pd.DataFrame, missing_lst: dict = dict(num_col_info_df.iloc[0]), threshold: float =75.0) -> pd.DataFrame:
    for col, missing_rate in missing_lst.items():
        if missing_rate > threshold:
            del df[col]
    return df

In [19]:
raw_df = drop_missing_features(raw_df)

### X·ª≠ l√Ω nh·ªØng d√≤ng b·ªã m·∫•t gi√° tr·ªã b·∫±ng c√°ch t√¨m c√°c d√≤ng kh√°c c√≥ c√πng t√™n xe v√† thay th·∫ø gi√° tr·ªã c·ªßa d√≤ng kh√°c v√†o d√≤ng b·ªã m·∫•t

In [20]:

numeric_col_process = ['Mileage', 'Engine', 'Power', 'Seats', 'Price']

In [21]:
for col in numeric_col_process:
    rows_with_nan = raw_df[raw_df[col].isna()]

# Duy·ªát qua t·ª´ng d√≤ng c√≥ NaN trong col
for index, row in rows_with_nan.iterrows():
    # T√¨m d√≤ng c√≥ 'Name' tr√πng v·ªõi d√≤ng hi·ªán t·∫°i
    matched_rows = raw_df[(raw_df['Name'] == row['Name']) & (~raw_df[col].isna())]
    if not matched_rows.empty:
        # N·∫øu t√¨m th·∫•y √≠t nh·∫•t m·ªôt d√≤ng tr√πng kh·ªõp
        matched_row = matched_rows.iloc[0]
        # Thay th·∫ø gi√° tr·ªã NaN trong col b·∫±ng gi√° tr·ªã t∆∞∆°ng ·ª©ng trong d√≤ng tr√πng kh·ªõp
        raw_df.at[index, col] = matched_row[col]

#### C√°c d√≤ng c√≤n l·∫°i c√≥ th·ªÉ s·∫Ω kh√¥ng c√≥ gi√° n√™n nh√≥m s·∫Ω thay b·∫±ng median ƒë·ªÉ √≠t l√†m ·∫£nh h∆∞·ªüng ƒë·∫øn d·ªØ li·ªáu nh·∫•t c√≥ th·ªÉ

In [22]:
for col in numeric_col_process:
    raw_df[col] = raw_df[col].fillna(raw_df[col].median())

### Gi√° tr·ªã c·ªßa c√°c c·ªôt c√≥ ki·ªÉu categorical ph√¢n b·ªë nh∆∞ th·∫ø n√†o?
- Ph·∫ßn trƒÉm gi√° tr·ªã b·ªã thi·∫øu l√† bao nhi√™u?
- C√≥ bao nhi√™u gi√° tr·ªã ph√¢n bi·ªát? Hi·ªÉn th·ªã m·ªôt v√†i gi√° tr·ªã
- C√≥ g√¨ b·∫•t th∆∞·ªùng kh√¥ng?

ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu categorical, ch√∫ng ta s·∫Ω t√≠nh:
- Ph·∫ßn trƒÉm (t·ª´ 0 t·ªõi 100) c·ªßa gi√° tr·ªã b·ªã thi·∫øu
- S·ªë l∆∞·ª£ng gi√° tr·ªã (gi√° tr·ªã ph√¢n bi·ªát, kh√¥ng x√©t c√°c gi√° tr·ªã b·ªã thi·∫øu)
L∆∞u k·∫øt qu·∫£ v√†o DataFrame num_col_info_df, trong ƒë√≥:
- T√™n c·ªßa c√°c c·ªôt l√† t√™n c·ªßa c√°c c·ªôt c√≥ ki·ªÉu kh√¥ng ph·∫£i numeric trong `df`
- T√™n c·ªßa c√°c d√≤ng: "missing_ratio", "num_values"

In [23]:
cat_col_info_df = raw_df.select_dtypes(exclude=[np.number])

def missing_ratio(column):
    return ((column.isnull().sum() / column.shape[0]) * 100).round(1)

# H√†m t√≠nh s·ªë l∆∞·ª£ng gi√° tr·ªã
def num_values(column):
    return column.nunique()

# H√†m t√≠nh t·ª∑ l·ªá c·ªßa t·ª´ng gi√° tr·ªã
def value_ratios(column):
    value_counts = column.value_counts() #ƒê·∫øm s·ªë l∆∞·ª£ng c·ªßa m·ªói lo·∫°i value trong 1 c·ªôt
    non_missing_count = value_counts.sum() #T·ªïng s·ªë l∆∞·ª£ng c·ªßa t·∫•t c·∫£ value trong 1 c·ªôt
    ratios = (value_counts / non_missing_count * 100).round(1) #L∆∞u t·ªâ l·ªá v√†o Series
    ratios_dict = ratios.to_dict()
    sorted_ratios_dict = dict(sorted(ratios_dict.items(), key=lambda item: item[1], reverse=True))
    return sorted_ratios_dict

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,Name,Location,Year,Fuel_Type,Transmission,Owner_Type,Company name
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,2041,11,23,5,2,4,35
value_ratios,"{'Mahindra XUV500 W8 2WD': 0.8, 'Maruti Swift ...","{'Mumbai': 13.1, 'Hyderabad': 12.1, 'Coimbator...","{'2015': 12.8, '2014': 12.8, '2016': 12.2, '20...","{'Diesel': 53.1, 'Petrol': 45.8, 'CNG': 0.9, '...","{'Manual': 71.8, 'Automatic': 28.2}","{'First': 82.1, 'Second': 15.9, 'Third': 1.9, ...","{'Maruti': 19.9, 'Hyundai': 18.5, 'Honda': 10...."

### L∆∞u d·ªØ li·ªáu ƒë√£ x·ª≠ l√≠

In [26]:
raw_df.to_csv("../data/processed/used_cars_data_processed.csv" , index=False)